@model IEnumerable<Fagner_Projeto___MVC.Models.FichaDeTreino>

@{
    ViewData["Title"] = "Index";
}

<h1>Fichas de Treino</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Cria Nova Ficha de Treino</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Repetiçoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoDescanso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Exercicio.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Repetiçoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoDescanso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-ouline-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-ouline-success">Detalhar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-ouline-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
